name: Build BanOnDeath Plugin

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Java 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build plugin with Maven
        run: mvn clean package

      - name: Upload plugin JAR
        uses: actions/upload-artifact@v4
        with:
          name: BanOnDeath
          path: target/*.jar
